@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./euid";
@import "tailwindcss/utilities";
@import "./customs";

/* tailwind와 import는 함께 사용 불가능 */
/* @tailwind base;
@import "./custom-base-styles.css";

@tailwind components;
@import "./custom-components.css";

@tailwind utilities;
@import "./custom-utilities.css"; */

/* import단일로 사용 가능 */
/* @import "tailwindcss/base";
@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css"; */

/* 터미널에 npm install -D postcss-import 

// postcss.config.js에 추가
module.exports = {
  plugins: {
    'postcss-import': {},
    tailwindcss: {},
    autoprefixer: {},
  }
}
*/
